<div class="container-fluid">

      <div class="row">
            <div class="col-sm-1" style="background-color:lavender;">
                  <h4>span 1</h4>

            </div>

            <div class="col-sm-1" style="background-color:lavenderblush;">
                  <h4>span 2</h4>

            </div>

            <div class="col-sm-1" style="background-color:lavender;">
                  <h4>span 3</h4>

            </div>

            <div class="col-sm-1" style="background-color:lavenderblush;">
                  <h4>span 4</h4>

            </div>

            <div class="col-sm-1" style="background-color:lavender;">
                  <h4>span 5</h4>

            </div>

            <div class="col-sm-1" style="background-color:lavenderblush;">
                  <h4>span 6</h4>

            </div>

            <div class="col-sm-1" style="background-color:lavender;">
                  <h4>span 7</h4>

            </div>

            <div class="col-sm-1" style="background-color:lavenderblush;">
                  <h4>span 8</h4>

            </div>

            <div class="col-sm-1" style="background-color:lavender;">
                  <h4>span 9</h4>

            </div>

            <div class="col-sm-1" style="background-color:lavenderblush;">
                  <h4>span 10</h4>

            </div>

            <div class="col-sm-1" style="background-color:lavender;">
                  <h4>span 11</h4>

            </div>

            <div class="col-sm-1" style="background-color:lavenderblush;">
                  <h4>span 12</h4>

            </div>


      </div>
      <div class="row">
            <div class="col-sm-4" style="background-color:lavender;">
                  <h4>span 4</h4>
            </div>
            <div class="col-sm-4" style="background-color:lavenderblush;">
                  <h4>span 4</h4>
            </div>
            <div class="col-sm-4" style="background-color:lavender;">
                  <h4>span 4</h4>
            </div>
      </div>

      <div class="row">
            <div class="col-sm-4" style="background-color:lavender;">
                  <h4>span 4</h4>
            </div>
            <div class="col-sm-8" style="background-color:lavenderblush;">
                  <h4>span 8</h4>
            </div>
      </div>

      <div class="row">
            <div class="col-sm-6" style="background-color:lavender;">
                  <h4>span 6</h4>
            </div>
            <div class="col-sm-6" style="background-color:lightgreen;">
                  <h4>span 6</h4>
            </div>
      </div>

      <div class="row">
            <div class="col-sm-12" style="background-color:grey;">
                  <h4>span 8</h4>
            </div>
      </div>

<div class="row">
      <div class="col-sm-6 bg-success">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </div>
      <div class="col-sm-6 bg-warning">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.    
      </div>
    </div> 

<div class="container-fluid">
  <h1>Auto Layout Columns</h1>
  <p>In Bootstrap 4, there is an easy way to create equal width columns: just use the <code>.col-size</code> class on a specified number of col elements. Bootstrap will recognize how many columns there are, and each column will get the same width.</p>
  <p>Two columns: 50% width on all screens, except for extra small (100% width on screens less than <strong>576px</strong> wide)</p>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm bg-success">1 of 2</div>
      <div class="col-sm bg-warning">2 of 2</div>
    </div>  
  </div>
  <br>
  
  <p>Four columns: 25% width on all screens, except for extra small (100% width on screens less than <strong>576px</strong> wide)</p>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm bg-success">1 of 4</div>
      <div class="col-sm bg-warning">2 of 4</div>
      <div class="col-sm bg-success">3 of 4</div>
      <div class="col-sm bg-warning">4 of 4</div>
    </div>  
  </div>
</div>





</div>