.ui-header{
    font-size: 1.728rem;
    margin: 2rem 0 1rem;
    color: #16325c;
}
.ui-button{
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 0;
    background: transparent;
    background-clip: border-box;
    border: 1px solid transparent;
    border-radius: .25rem;
    line-height: 1.875rem;
    text-decoration: none;
    color: #0070d2;
    -webkit-appearance: none;
    white-space: normal;
    user-select: none;

}
.ui-button-2{
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    border: 1px solid #dddbda;
    transition: border .15s linear;
    border-color: #dddbda;
    background-color: #fff;
    border-color: #0070d2;
}