.ui-header{
    font-size: 1.728rem;
    margin: 2rem 0 1rem;
    color: #16325c;
}
.ui-button{
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    border: 1px solid #dddbda;
    transition: border .15s linear;
    background-color: #0070d2;
    border-color: #0070d2;
}